[2019-12-01 04:40] brandy2015 opened #3 "Dear author,"
This is a really great RxPlayer. But how can I play the music when the first time I come in this player ViewController, Or control the player in other View?

[2019-12-01 06:20] yoheimuta commented on #3
@brandy2015 Thank you for reaching out!

While I might not understand your point correctly, I will explain how to play music when the hosting ViewController appears.

Here is the diff in the project demo code, which you can apply to achieve it.

[code]

- ref. https://github.com/yoheimuta/RxMusicPlayer#example

Let me know when you still have a problem.

[2019-12-01 06:22] yoheimuta opened #4 "Ignore Carthage/Build by adding it to .gitignore"
Maybe it's appropriate.

[2019-12-02 01:26] brandy2015 commented on #3
Thank you very much. I will try that out.

[2020-02-04 09:19] KylChiang opened #5 ""Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler" error when building Example"
I got an error: /Users/Me/Documents/gist/RxMusicPlayer/RxMusicPlayer/RxMusicPlayer+Rx.swift:10:8: Module compiled with Swift 5.0 cannot be imported by the Swift 5.1.2 compiler: /Users/Me/Documents/gist/RxMusicPlayer/Carthage/Build/iOS/RxCocoa.framework/Modules/RxCocoa.swiftmodule/arm64.swiftmodule

And after I update carthage file with RxSwift version 5.0.0, still the same.
I have been searched so

[2020-02-05 02:27] yoheimuta commented on #5
@KylChiang Thank you for your report.

I guess you have to rebuild the library manually.
Could you give it a try to run the command below?

[code]

[2020-02-05 02:46] yoheimuta commented on #4
https://github.com/Carthage/Carthage/issues/420
https://github.com/Alamofire/Alamofire/pull/451

[2020-02-05 09:08] KylChiang commented on #5
Hi Yoheimuta,

Yes, it's fixed and works charming.
Thanks a lot!

[2020-02-05 09:09] #5 closed

[2020-03-30 11:34] alihajian-e opened #6 "RxMusic"
Hi
I have 2 pages, one song player and the other song list.
I want to play a new song from this list every time and replace the new one with the previous one.

But both songs play together

[2020-03-31 00:40] yoheimuta commented on #6
@alihajian-e Thank you for using it.

Can you share some more detailed information, such as code snippet, sample iOS project, or capture image/video? Especially, I want the sample code you're using.

I have previously implemented the app you're going to do, and it should work basically.

[2020-03-31 09:42] alihajian-e commented on #6
[https://gofile.io/?c=ET9zLK](url)
Video app link👆

[2020-04-01 01:34] yoheimuta commented on #6
@alihajian-e Thank you for sharing.
I'm going to investigate it.

[2020-04-01 02:24] yoheimuta commented on #6
[memo] This one: https://github.com/yoheimuta/AMMusicPlayerController#demo

[2020-04-01 03:00] yoheimuta commented on #6
@alihajian-e

I looked over your project and found out that it had a problem with how to release your VC.

The cause is that you forget `[weak self]` that prevent disposing of the resources the seeming dismissed VC has. It's not relevant to the RxMusicPlayer.

- ref. https://www.avanderlee.com/swift/weak-self/

Bottom line is that you had better adapt to add `[weak self]` to each closure like belo

[2020-04-01 08:33] alihajian-e commented on #6
Thank you very much

Another question I have is how do I control the song on another page?
Such as: playback, pause, etc.

[2020-04-02 01:04] yoheimuta commented on #6
@alihajian-e You're welcome.

Your question is a bit out of the scope relating to the RxMusicPlayer, right?

In general, you should create an instance of RxMusicPlayer in your app and share it in all VCs(such as MusicPlayVC). In other words, I think it's hard to implement what you want by creating each RxMusicPlayer per VC. See the below link.

- ref. https://github.com/yoheimuta/AMMusicPlayerCont

[2020-04-02 07:42] alihajian-e commented on #6
Result: No way to stop and play the song on another page?
Or did I not understand what you meant?
Can you give more explanation?

[2020-04-03 04:30] yoheimuta commented on #6
@alihajian-e

Generally, it depends, but the RxPlayer itself can control the song regardless of the views system.
I think it may lack your information to answer your question properly.

The RxMusicPlayer supports the commands below, and you can send `stop` so that the player stops playing the song. If you have any trouble understanding its APIs, I'm willing to write some more API comments or docum

[2020-04-03 07:24] alihajian-e commented on #6
Thanks
But the stop command or other command doesn't work

 override func viewDidLoad() {
        super.viewDidLoad()
        Command.stop
     //   Command.prefetch
    }

I'm stuck and I don't know what to do and I need your help

If we can talk on Instagram or WhatsApp or anywhere else
very good

thanks again

[2020-04-03 09:50] yoheimuta commented on #6
@alihajian-e

Well, you misunderstand the usage of running commands.
The only API to run the command is `player.run(cmd: cmd),` so writing just `Command.stop` is pointless.

If you follow the sample code in the README, you should add the extra commands to Driver.merge's argument, for example, like below.

[code]

If you find it hard, you may need to understand the RxSwift concepts through some tut

[2020-04-08 14:51] rastaman111 opened #7 "playback speed"
Hi

How can I change the playback speed of the player? x1, x1.5, x2

How can I start the player from a certain second?
Start player to 1min25sek

[2020-04-09 02:05] yoheimuta commented on #7
@rastaman111

Thank you for reaching out.

While the library doesn't support it natively, you can get AVPlayer through the player property of the RxMusicPlayer. See the below example.

[code]

I guess you can use the below steps in a row to implement it at the moment.

1. Run a play command
1. Wait for completing preparation by watching canSendCommand(seek command)
1. Run a seek command

If this w

[2020-04-09 05:07] rastaman111 commented on #7
thanks for the answer, today I’ll definitely check it out.  And another question, I found 2 bugs: 1) I have 2VC, 1 is the audio category, and 2 is the audio itself, following how I do it: I go into 1 group and turn on 1 song, statuses are written in the console (download and then ready)  , after the end of the audio, I switch to category 2 and so turn on 1 song, listen to the end and after automat

[2020-04-10 19:39] rastaman111 commented on #7
please help, why 2 audio are turned on at the same time

[2020-04-10 23:45] yoheimuta commented on #7
@rastaman111  Sorry for the late reply.

Is this the first bug you have mentioned?

While I didn't understand accurately yet, RxMusicPlayer has no direct relation with VC. It's likely that the way to release VCs has something wrong.
For example, I have pointed out previously that a misstep disposing of RxMusicPlayer accounts for unintentional two players.

- ref. https://github.com/yoheimuta/RxMus

[2020-04-11 05:28] rastaman111 commented on #7
we can somehow contact, for example TeamViewer that would be mobile to resolve this issue?

I would quickly explain what the problem is

[2020-04-11 06:06] yoheimuta commented on #7
@rastaman111 Although I understand what you mean, it seems a bit difficult to support the issue beyond the scope. In general, you can share more detailed hints, such as video and reproducible simple project/snippet that I can find out the cause.

Or, if you send me an email(see my profile) with your entire project and steps that produce the problem, I can look over it and may resolve it.

[2020-04-11 06:13] rastaman111 commented on #7
Can’t I contact TeamViewer?

[2020-04-11 10:01] rastaman111 commented on #7
I sent you an example code

[2020-04-11 20:42] rastaman111 commented on #7
and 1 more question, if Music plays with me and I wanted to watch the video in the application, I send a command for the player to stop, and when the video ends and the video player closes, the audio starts automatically, why is that?

[2020-04-23 01:43] yoheimuta commented on #7
@rastaman111 Thank you for your inconvenience.

I added a note about the "Bug Report."

- ref. https://github.com/yoheimuta/RxMusicPlayer/blob/master/README.md#bug-report

Since I'm afraid I found out that it's not practical to pinpoint and reproduce the problem in my local through emails, I want you to prepare a concise reproducible project.

And if you have more problems, please create issues fo

[2020-04-23 06:41] rastaman111 opened #8 "Don't updated speed locked screen"
Hello!
After scrolling, I’ll see progress at any time, NowPlayingInfoCenter is not updated on the locked screen
only if you click stop and again the strat, then it will be updated and it is also possible to turn on the audio playback speed at 2x NowPlayingInfoCenter is also not updated, the strip moves like usual 1x speed.

link to an example video: https://yadi.sk/i/znHUhyeHrdKekg

  var rate: Fl

[2020-04-24 13:09] yoheimuta commented on #8
@rastaman111 Thank you for reaching out.
I'm investigating it.

[2020-04-25 08:31] yoheimuta commented on #8
I found out that the RxMusicPlayer needs built-in support for the playback rate.
I'm going to add the feature.

[2020-04-25 08:33] rastaman111 commented on #8
Hello!  Thank you, I look forward to an update.

[2020-04-27 14:58] rastaman111 commented on #8
Hello!
I found another bug with playback speed

I turn on the audio, select a speed of 2x, press pause and when I click play the speed becomes 1x by default

[2020-04-30 09:40] yoheimuta commented on #8
[memo] It's almost finished, except for a confirmation with a device, which my local preparation is taking some time.

[2020-04-30 12:22] rastaman111 commented on #8
Hello!
I did not quite understand
You did, but it remains to check everything on a real device?

[2020-05-02 08:41] yoheimuta commented on #8
@rastaman111 I updated the master branch to add the feature.
Can you confirm it works fine?

[2020-05-02 08:47] rastaman111 commented on #8
Hi. where can i find your update?

[2020-05-04 04:39] yoheimuta commented on #8
@rastaman111 Can you elaborate?
I updated the master branch of this repository.

[2020-05-04 04:43] yoheimuta commented on #8
I plan to update the Podspec after your confirmation.
If you want the updated Pod now, I can do it ahead of that.

[2020-05-04 05:29] yoheimuta commented on #4
Removed.

[2020-05-04 05:29] #4 closed

[2020-05-04 05:32] rastaman111 commented on #8
Hi, we checked it for how everything works, but can you tick the end of the selected speed?  Example 1x ✓

[2020-05-04 18:19] rastaman111 opened #12 "audio overlay"
Users noticed that the audio overlaps, can I somehow fix this?  All the code is like yours.  Example: while the audio has not loaded, the prohibition on downloading another

[2020-05-04 19:40] rastaman111 commented on #12
It still happens when the progressView is rewound to the end

[2020-05-05 02:48] yoheimuta commented on #8
Thank you for your confirmation.

Yes. I added a tick at the end.

- https://github.com/yoheimuta/RxMusicPlayer/commit/3939883f93d8d98c445c7812887b28da424279c3

[2020-05-05 02:48] #8 closed

[2020-05-05 03:05] yoheimuta commented on #12
@rastaman111 Thank you for letting me know.
Do you mean it's a reproducible bug in the [RxMusicPlayer/Example app](https://github.com/yoheimuta/RxMusicPlayer/tree/master/Example)?

I'm afraid that I still don't figure out how to reproduce your issue from your comments above.

Or you're issuing a feature request(not a bug) that allows you to turn off prefetching the next tune so that the player sta

[2020-05-05 04:50] rastaman111 commented on #12
Yes, this is a bug from your example.  I think, as an option, you can do this: after clicking on the “next” button or when scrolling, I see the progress to the end, systematically kill the previous download and leave only a new one

[2020-05-06 07:13] rastaman111 commented on #12
<img width="978" alt="Снимок экрана 2020-05-06 в 10 10 07" src="https://user-images.githubusercontent.com/15727518/81146888-d8daea00-8f81-11ea-8c2f-b900fbe04405.png">

Another option is audio overlay.
If you startWith (.prefetch) to convert to .startWith (.play) when you turn on the audio and without waiting for the download to switch to the next audio, then the old and new audio are loaded

[2020-05-06 08:39] yoheimuta commented on #12
@rastaman111 I couldn't reproduce it in either procedures you showed.
Can you share a video?

[2020-05-06 08:43] rastaman111 commented on #12
yes of course, as I write down I will inform

[2020-05-07 16:48] rastaman111 commented on #12
Hello!  We cannot find this problem yet.  We switched to a powerful server and it was gone.

[2020-05-07 16:53] rastaman111 commented on #12
such a question, I found in your code how to rewind audio backwards, I wonder if it is possible to make it so that it doesn’t switch to 0 second, but immediately to previous audio, and if this is the first audio then rewind only to 0 second, but in everything  otherwise, go to the previous

[2020-05-24 16:36] rastaman111 commented on #12
https://yadi.sk/i/82nKwIcV7Z1tOA

good afternoon, here is a link to the video, where a problem with audio overlay on each other is noticed

[2020-05-26 05:07] rastaman111 commented on #12
@yoheimuta Hi, did you manage to learn the video?

[2020-05-27 02:36] yoheimuta commented on #12
@rastaman111 Thank you for sharing the video and I watched it.

Is it right that something wrong you mentioned starts around 1:40?
Thanks to your video, I can recognize your issue about "audio overlay."

However, I can't still come up with the exact cause(in the library or in your app) only by this observance. Because the RxMusicPlayer is somewhat just a wrapper of AVPlayer and has only one AVPlay

[2020-05-27 04:24] rastaman111 commented on #12
yes, right from 1.40 the sound overlay is turned on, do you want an example video using your example?

[2020-05-27 04:43] yoheimuta commented on #12
Yes, I want it to reproduce the same issue in my local environment without extra hassles.

[2020-05-27 12:17] rastaman111 opened #13 "previous button"
But you can fix the button back so that it does not wind the audio up to 0 second, and immediately switches to the previous track, if there is one

[2020-05-30 00:45] yoheimuta commented on #13
@rastaman111 Thank you for your suggestion.

Do you mean that your change request helps #12 fixed?
I think that in absolute terms, the current behavior makes sense because some popular music apps like `Apple Music` and `Amazon Music` follow the same.

That said, it would be appropriate to add the new option like `always_previous_track` that is set to false as default. Does it work for you?

[2020-05-30 05:22] rastaman111 commented on #13
I think this will not change problem #12, but it will help to solve other problems, such as the application crash, but it will also add convenience

[2020-06-23 13:39] rastaman111 commented on #12
@yoheimuta Hi, it seems to me that the overlay of audio depends on the fact that we use the start of audio from a certain second, can you write a special function for this?

[2020-06-24 02:20] yoheimuta commented on #12
@rastaman111 Thank you for your sharing.
Sure, let me know what a special function is.

[2020-06-26 06:42] rastaman111 commented on #12
@yoheimuta I had introduced a function from your player that allows you to start audio from the right second.  And then I use the standard Apple, it can be like with the speed of the product

[2020-07-21 09:42] rastaman111 commented on #12
@yoheimuta

Hi guy, I just talked with developers who have experience with the player, she said it is better to use AVQueuePlayer as a player or use mixing.

And to clear the queue before starting the player, use the function player.replaceCurrentItem (with: currentItem)

[2020-07-21 15:06] rastaman111 commented on #12
@yoheimuta

audio overlay occurs due to the fact that a new instance of the player is being created, and what I described above should solve the problem

[2020-07-22 08:06] Shishani58 opened #14 "Repeat mode settings"
Thanks so much for such a nice library.
Is it possible to do something like numberOfLoops from AVAudioPlayer? For both modes — repeatOne and repeatAll?

[2020-07-23 04:46] yoheimuta commented on #14
@Shishani58 Sorry for the late replay.
It looks hard to do something like numberOfLoops at the moment.
To support this, RxMusicPlayer should implement the numberOfLoops for repeatOne, like the below.

[code]

If you like it, I can accept your PR. Or I try to implement It when I have time.

[2020-07-23 14:31] rastaman111 commented on #13
@yoheimuta Hey.  so there is some news about the back button, so that you can wind not for 0 second, but immediately to the previous track, you can implement as two functions to choose from

[2020-07-25 04:55] yoheimuta commented on #13
@rastaman111 Thank you for your confirmation.
Can you make a PR whenever you have time? Otherwise, it falls under I will get to it when I have time.

- https://github.com/yoheimuta/RxMusicPlayer/blob/cb0d39a613c517dd716f0fe5053295d61bb00eb9/RxMusicPlayer/RxMusicPlayer.swift#L456-L471 is a related part. Maybe `if 1 < (player?.currentTime().seconds ?? 0) && !always_previous_track { ` would be a main

[2020-07-31 17:20] rastaman111 commented on #7
@yoheimuta hello, you can close this question

[2020-07-31 17:21] rastaman111 commented on #12
@yoheimuta hello, you can close this question , we the problem was on our side

[2020-08-01 00:25] #7 closed

[2020-08-01 00:26] yoheimuta commented on #12
@rastaman111 Thank you for your investigation!
It's clear, and I will close it.

[2020-08-01 00:26] #12 closed

[2020-08-01 00:28] yoheimuta commented on #3
@brandy2015 I'm closing this issue because time has already passed.

[2020-08-01 00:28] #3 closed

[2020-08-26 15:25] rastaman111 opened #16 "Button action"
Hi, how can I activate a command without clicking on a button, but for example a table cell, since there is a video and I want to stop the player?
![image](https://user-images.githubusercontent.com/15727518/91323272-5f356900-e7c9-11ea-8e00-fede46dd40c7.png)

[2020-08-28 10:43] rastaman111 opened #17 "Button action tap"
Hi, how can I activate a command without clicking on a button, but for example a table cell, since there is a video and I want to stop the player?
![image](https://user-images.githubusercontent.com/15727518/91552481-907e7800-e934-11ea-9f41-936ce49c7d53.png)

[2020-08-31 00:52] yoheimuta commented on #17
@rastaman111 You can send a command using a variety of RxSwift components in addition to the button event.
For example, PublishRelay is useful to activate the player freely like below. It mainly has one method "accept."

[code]

[2020-08-31 15:34] rastaman111 commented on #17
@yoheimuta thank you, it works

[2020-10-25 03:24] DyoungYu opened #18 "No such module 'RxCocoa'"
I can't run successfully because xcode reports an error “No such module 'RxCocoa”,  Excuse me, what should I do？

[2020-10-25 04:04] yoheimuta commented on #18
@DyoungYu RxMusicPlayer depends on RxCocoa which is a part of the RxSwift family.
Let me know how you installed RxMusicPlayer into your project.

I think it should set up dependencies correctly if you install it via Carthage or CocoaPods by following [the README](https://github.com/yoheimuta/RxMusicPlayer#installation).

[2020-10-27 08:13] rastaman111 opened #20 "Player seek"
Hi @yoheimuta !

I want to do through SoreDate to do time saving
In the musicPlayer.player method? .Rx.currentItemTime (), as I understand it, it is best to save data every 5 seconds
var i = Int (($ 0.0? .seconds!)!)% 5

<img width="1150" alt="Снимок экрана 2020-10-27 в 11 13 02" src="https://user-images.githubusercontent.com/15727518/97274212-5dc60280-1845-11eb-826c-f3f59b3650bb.png">

If I'm wro

[2020-10-29 15:49] rastaman111 commented on #20
Hi, have any thoughts on this issue?

[2020-10-30 00:17] yoheimuta commented on #20
@rastaman111 Thank you for your interest 🙋‍♀️

I'll be getting to it tomorrow.
In the meantime, I have some questions to make it clearer.

1. What does SoreDate mean?
1. 1st question means you want to seek a better solution to save the current time of the playback periodically? Your code barely achieves your purpose, though?
1. 2nd question means you want to play the music from the specified posit

[2020-10-30 05:38] rastaman111 commented on #20
@yoheimuta

The task is this: you need to save the last second of audio, that is, you left the application, saved it, listened for 10 seconds and switched to another track, saved it, etc., all this is saved in CoreData, and when I turn on audio and if this audio is in CoreData, comparison by name  , then I start from the second that is indicated in CoreData.  I think I clearly explained the task)

[2020-10-31 13:31] yoheimuta commented on #20
@rastaman111

Using currentItemTime is a good way to implement this. I have no idea about any better solutions.

It seems to be better to remove a used item from the listItems to prevent from reusing the same one, although I presume that this part is not relevant to the library actually.

[2020-11-02 05:11] rastaman111 commented on #20
@yoheimuta I do not understand in which method I can track the time to save it?

[2020-11-02 05:15] rastaman111 commented on #20
@yoheimuta The .Rx.currentItemTime () method is called about 10 times in 1 second, and so how can I stop all actions in the same way to save time in the first call?

[2020-11-03 00:40] yoheimuta commented on #20
@rastaman111 Your question means that you want to save the exact one per second?
If so, I recommend that you filter all saved data by yourself like the below steps.

1. Save all times data emitted by Rx.currentItemTime() method in your array
1. Filter your array to remove duplicate data with the same second

[2020-12-18 14:16] Shishani58 opened #21 "An AVPlayerItem cannot be associated with more than one instance of AVPlayer"
The error occurs with long tracks (30-50 mins) if you switch tracks quickly. You can reproduce this bug by changing the urls to other ones, with a long duration (in example app).

[2020-12-18 14:54] rastaman111 commented on #21
I also have this, but not always

[2020-12-18 17:06] Shishani58 commented on #21
I think it is related to audio streaming or downloading. After downloading a track, this problem disappears

[2021-01-03 00:59] yoheimuta commented on #21
@Shishani58 Sorry for the late reply.
Thank you for reaching out!
I'm looking into it.

[2021-01-04 19:31] Shishani58 commented on #21
@yoheimuta
I found out that this bug is related to metadata. If you set the metadata manually, the problem does not occur

[2021-01-16 04:23] yoheimuta commented on #21
@Shishani58 I haven't reproduced it as maybe I found only 6 ~ 8-min long tracks(royalty-free) from https://www.bensound.com/royalty-free-music?sort=p.sku&order=DESC.

Can you share those long tracks with me? In particular, the ones with a relaxing license are better.

[2021-01-16 11:20] niraj547 opened #22 "Put all the songs in UITableView"
Hi
I have a question, hope you can help, I wanted to put all songs in UITable view and play only if the cell is tapped or the button inside the cell is tapped. Is that possible RxMusicPlayer??

Thanks

[2021-01-16 11:33] rastaman111 commented on #22
hi yes i did the same

[2021-01-16 11:37] niraj547 commented on #22
Can u give me some examples because I tried and the same song is repeated in each row. That would be great help

Thanks

[2021-01-16 11:41] rastaman111 commented on #22
I threw an array of links into a table and when I clicked on a cell, I took a certain link and sent it to the player

[2021-03-16 18:03] rastaman111 opened #23 "Keeping progress"
Hi guy!  I will be grateful if you will make the functionality of remembering the second when you close the application or when switching to another track, since this functionality is needed in my project.  As an example via CoreData

[2021-03-23 00:12] yoheimuta commented on #23
@rastaman111 Thank you for a nice feature request.
I put it on the back burner at the moment, but if you send a PR, I'm willing to merge it.

[2021-03-23 07:03] rastaman111 commented on #23
What do you have under PR?  Donut?

[2021-03-23 07:07] yoheimuta commented on #23
I mean a [pull request](https://docs.github.com/en/github/collaborating-with-issues-and-pull-requests/about-pull-requests), right?

[2021-03-23 07:09] rastaman111 commented on #23
I do not fully understand you :)

[2021-03-31 10:13] rastaman111 opened #24 "Error"
Hey! When installing Pod issues an error when compiling the project
<img width="665" alt="Снимок экрана 2021-03-31 в 13 06 57" src="https://user-images.githubusercontent.com/15727518/113128229-43dc8180-9222-11eb-8d5d-c99d33e3b121.png">
<img width="707" alt="Снимок экрана 2021-03-31 в 13 08 21" src="https://user-images.githubusercontent.com/15727518/113128236-450dae80-9222-11eb-9d30-d3daef60fdaf.pn

[2021-04-01 19:48] StefaniOSApps opened #25 "SPM Support?"
Swift = SPM support needed :-)=

[2021-04-01 20:26] StefaniOSApps commented on #24
@rastaman111
fork this repo and replace this with
`observer(.failure(error ?? NSError()))`

[2021-04-06 03:09] yoheimuta commented on #24
@rastaman111 Thank you for reaching out!
I'm getting to this fix this weekend.

[2021-04-06 03:10] yoheimuta commented on #25
Thank you!
Sounds great 👍

[2021-04-19 05:42] rastaman111 commented on #23
Hi, have you forgotten about this?

[2021-04-20 00:13] yoheimuta commented on #24
@rastaman111 I fixed it by 2.0.0.
Can you confirm it works?

- ref. https://github.com/yoheimuta/RxMusicPlayer/releases/tag/2.0.0

[2021-04-20 00:34] yoheimuta commented on #23
@rastaman111 Can you implement this feature and request me to review your pull request?
If it would be difficult, I could probably work on it this month and the next month.

[2021-04-20 18:34] rastaman111 commented on #24
checked, everything works

[2021-04-20 23:50] #24 closed

[2021-04-25 02:52] yoheimuta commented on #25
@StefaniOSApps The repository supports SPM.
Can you give it a try?

- ref. https://github.com/yoheimuta/RxMusicPlayer#swift-package-manager

[2021-04-27 23:17] #25 closed

[2021-04-27 23:21] StefaniOSApps opened #28 "Add MP3 Urls by Button while playing"
How can I add a mp3 url by button, if the player plays - without seek difference?

my solution
[code]

but I can not access to `queuedItemsRelay`.

[2021-05-04 20:19] rastaman111 opened #29 "Add equalizer"
Hello.  I got this idea to add an equalizer to your project to adjust the sound.  how do you like the idea?  Here's an example I found: https://github.com/HanSJin/AVAudio-Equalizer

[2021-05-07 17:17] stfenjobs opened #30 "example with SwiftUI"
hi
can you add an example use SwiftUI ?

thank you very much

[2021-05-18 00:29] yoheimuta commented on #29
Sounds interesting, but I'm not sure it's relevant in this library.

[2021-05-18 00:57] yoheimuta commented on #28
@StefaniOSApps Thank you for reaching out.

Since the previous version only supports appending items, I added new features of inserting and removing an item at the specified location.

Can you confirm it works?

- See also https://drive.google.com/file/d/1pP0SX0v5othDhkfK45qQmZNYsW2qGG0k/view.

[2021-05-18 03:27] rastaman111 commented on #29
I often see such functionality in audio players, since there are music fans and they adjust the equalizer to their ears

[2021-05-18 15:45] rastaman111 commented on #29
or make a separate branch with this

[2021-05-21 08:22] rastaman111 commented on #29
https://drive.google.com/file/d/17miPZcpZXfiksTWTMpz2FrpchZhO4CxR/view?usp=sharing

[2021-05-25 20:54] StefaniOSApps commented on #28
@yoheimuta thanks for this vid.
Imagine that you are playing a 10 min song in English. then you open a menu and change the language to e.g. Turkish. My wish is that it plays the other language at the same time. So English stops at 5:33 and Turkish continues from 5:34. i have implemented a solution but this is only a workaround. In addition, there is the lack of error handling if the URL is not rea

[2021-06-04 11:56] simongiesen opened #32 "The music player stops playing in the background"
Hello folks,

The music player stops playing in the background and when the iPhone is locked. How can this be bypassed?

Thanks in advance!

[2021-06-04 12:04] rastaman111 commented on #32
hello, enable background audio in the project settings

[2021-06-06 03:29] yoheimuta commented on #28
@StefaniOSApps Thank you for your additional information.
First of all, the new APIs of inserting/removing an item from the playlist can modify queuedItemsRelay safely.

To change the item while keeping its playback time position sequential, it seems like you can use the current APIs like below:

1. Insert the Turkish version song at the next position
2. Play the next one by sending the next comma

[2021-06-14 07:15] dinhthiet2702 commented on #21
i get the same error if user press next too fast and many times, then they press play and keep doing the same until crash, how to fix that please help me!

[2021-06-20 03:46] yoheimuta commented on #30
@stfenjobs Thank you for reaching out.
I added an example built on SwiftUI at https://github.com/yoheimuta/RxMusicPlayer/tree/master/ExampleSwiftUI.

Can you confirm it?

[2021-06-20 04:32] stfenjobs commented on #30
@yoheimuta

thank you very much

[2021-06-20 04:32] #30 closed

[2021-06-20 08:28] stfenjobs opened #34 "how to play local file ?"
my code based on `https://github.com/yoheimuta/RxMusicPlayer/tree/master/ExampleSwiftUI`

i add 3 mp3 files to my project

then  i change  the `items`
 in  here`https://github.com/yoheimuta/RxMusicPlayer/blob/master/ExampleSwiftUI/PlayerView.swift#L41`

here's my code:

![image](https://user-images.githubusercontent.com/6580897/122667167-07e30800-d1e4-11eb-8b02-6e763804c0b6.png)

but, it can't pla

[2021-06-24 00:40] yoheimuta commented on #34
@stfenjobs How about this update?

- ref. https://github.com/yoheimuta/RxMusicPlayer/pull/35/files

[2021-06-24 03:59] stfenjobs commented on #34
@yoheimuta
thank you very much

[2021-06-24 03:59] #34 closed

[2021-08-01 14:49] StefaniOSApps commented on #32
@simongiesen can you close this issue?

[2021-08-03 15:46] StefaniOSApps opened #36 "Loading state although the player is playing"
I have the problem that the following `RxMusicPlayer.Status` are deliver for remote audio url after play tap:

- loading
- loading
- playing
- loading

However, the player is playing and is not in the prefetching state (see last state). Why is this happening?

[2021-08-17 12:05] #32 closed

[2021-08-29 11:18] yoheimuta commented on #36
@StefaniOSApps Sorry for this late reply.
I couldn't reproduce your problem locally while just running [the example project](https://github.com/yoheimuta/RxMusicPlayer/tree/master/ExampleSwiftUI).

I looked at the status change in the console output [here](https://github.com/yoheimuta/RxMusicPlayer/blob/master/ExampleSwiftUI/PlayerView.swift#L155).

How should I set it up to confirm your problem?

[2021-09-15 09:09] rastaman111 opened #37 ""Boost volume" functionality"
Hey! Please add the "Boost volume" functionality, here is an example of how it should work

var boostVolume: Bool = false {
        didSet {
            self.audioPlayer.volume = self.boostVolume
                ? 2
                : 1
        }
    }

[2021-09-20 12:24] rastaman111 opened #38 "HELP"
Hey!
I faced such problem
I have an audio array {A, B, C, E, G} and I want to add a new array {D, F} to it, not only at the end, but also in alphabetical order. Example {A, B, C, D, E, F, G}

For a more intelligible concept, I will attach the video below.

https://vimeo.com/609763110

at the moment I'm doing just apped

[2021-09-21 05:54] #38 closed

[2021-09-21 05:55] rastaman111 commented on #38
Completed

[2021-09-24 08:58] rastaman111 opened #39 "Problem"
I can use any audio files in the application.
When the file has a complete metadata, then in MPMediaItemPropertyTitle, MPMediaItemPropertyArtist, MPMediaItemPropertyArtwork, and if something is missing then an empty line in this place, how can I substitute my values if empty?

found that this function is updating data private func updateNowPlayingInfo () -> Observable <()> {

[2021-09-26 17:38] rastaman111 commented on #37
New feature

Add more functionality to rewind audio (15, 30) seconds, so that the user can assign it himself how much it would be convenient for him

MPRemoteCommandCenter.shared().skipForwardCommand and
MPRemoteCommandCenter.shared().skipBackwardCommand

[2021-09-29 20:16] rastaman111 commented on #37
Question.
I can edit the audio metadata in my application, how can I update all URLs in the player?

[2021-10-02 05:15] yoheimuta commented on #39
@rastaman111 Not really. You can set an item to your complete metadata, but it also skips downloading metadata.
Your request needs a small change on the library. What do you think?

[2021-10-02 05:25] rastaman111 commented on #39
I think it is necessary to do it by default so that when there is no metadata, then by default substitute the values ​​that are on the player's screen, these are: title, artist and picture

![image](https://user-images.githubusercontent.com/15727518/135704729-8c1f6570-60c5-4105-8977-aa16d64ce434.png)
![image](https://user-images.githubusercontent.com/15727518/135704732-e7d31d38-cbee-417e-a392-ccaf

[2021-10-02 05:27] yoheimuta commented on #37
@rastaman111 Can you write a single subject on a single issue?
"Boost volume" functionality is your main subject on this issue, right? Or, these three are related deeply?

The RxMusicPlayer has the public property of its AVPlayer.
Isn't it enough to refer to `yourRxMusicPlayer.player.volume` by yourself to implement this feature?

By the way, I'm curious about `volume = 2` because https://develope

[2021-10-02 05:31] rastaman111 commented on #37
these 3 problems do not depend on each other and in order not to create several issues , I asked all in one

[2021-10-02 06:25] rastaman111 opened #40 "Add more functionality to rewind audio (15, 30) seconds"
Add more functionality to rewind audio (15, 30) seconds, so that the user can assign it himself how much it would be convenient for him

MPRemoteCommandCenter.shared().skipForwardCommand and
MPRemoteCommandCenter.shared().skipBackwardCommand

[2021-10-02 06:29] rastaman111 opened #41 "how can I update all URLs in the player?"
I can edit the audio metadata in my application, how can I update all URLs in the player?

Most likely, new functionality is needed, since after editing I delete the original url and add a new url

[2021-10-06 10:44] yoheimuta commented on #41
@rastaman111 Can you elaborate?

There are APIs to append, insert, and remove an item.

- ref. https://github.com/yoheimuta/RxMusicPlayer/issues/28#issuecomment-842742832

[2021-10-06 10:56] rastaman111 commented on #41
adding and removing elements I know what exists, but it would be possible to implement this: I have an array of 3 elements, I edited 1 element and after editing the system itself deletes the old url and creates a new one, as a result, I get the same 3 elements in the array at the output

[2021-10-24 13:59] rastaman111 opened #43 "New functionality: start from a certain second"
Hey!  Add to the player the ability to start from the desired second

[2021-11-06 14:35] rastaman111 opened #44 "New functionality: jump to the desired second"
Please add two new functions to the player: 1) jump to the required second 2) jump back to the required number of seconds

1) func jumpTo(_ time: Double)
2) func jumpBy(_ direction: Double)

[2021-11-06 17:27] rastaman111 opened #45 "Time format considering the hour notation like "%H:%M:%S" instead of "%M:%S""
@yoheimuta I noticed a hundred if the length is more than one hour, then the time is displayed incorrectly

![image](https://user-images.githubusercontent.com/15727518/140618411-6dc7be59-3395-4316-aa11-509e57b69d85.jpeg)

[2021-11-06 19:07] rastaman111 commented on #45
![image](https://user-images.githubusercontent.com/15727518/140621044-3621fb07-515f-4b17-9513-ef30feed3b07.jpeg)

[2021-11-13 19:02] rastaman111 commented on #45
Hi @yoheimuta. When can you update this issue and #43

[2021-11-28 19:36] rastaman111 commented on #45
Hey @yoheimuta!  How soon will you make this change?

[2021-11-29 07:53] rastaman111 commented on #45
public var displayTime: String? {
        guard let sec = seconds?.rounded().toInt() else { return nil }
        return String(format: "%d:%02d", sec / 60, sec % 60)
    }

convert:

extension Double {
    func formatTime(style: DateComponentsFormatter.UnitsStyle) -> String {
        let durationFormatter = DateComponentsFormatter()

        durationFormatter.unitsStyle = style
        durationFor

[2021-12-08 13:12] rastaman111 commented on #40
@yoheimuta Help

[2021-12-12 02:10] #6 closed

[2021-12-12 02:11] yoheimuta commented on #16
dup: https://github.com/yoheimuta/RxMusicPlayer/issues/17

[2021-12-12 02:11] #16 closed

[2021-12-12 02:11] #17 closed

[2021-12-12 02:12] #18 closed

[2021-12-12 02:12] #20 closed

[2021-12-12 02:13] #22 closed

[2021-12-12 02:15] #28 closed

[2021-12-12 02:16] #36 closed

[2021-12-12 02:18] yoheimuta commented on #37
I suggested a solution here.

[2021-12-12 02:18] #37 closed

[2021-12-12 02:22] yoheimuta commented on #41
A new pull request is welcome.
I'm not sure it's a priority feature I haste to implement it.

[2021-12-12 02:22] #41 closed

[2021-12-12 02:50] yoheimuta commented on #45
@rastaman111 I changed the title. Is it more correct?
Title accuracy influences my attention.

I'm willing to support this use case.
Before the support, you have a workaround to edit "displayTime" yourself.

[2021-12-12 04:37] rastaman111 commented on #45
I implemented this solution as in the screenshot, since it works correctly, it shows the Clock index when needed

[2021-12-12 05:52] yoheimuta commented on #45
@rastaman111 The screenshot doesn't tell me the desired result. It's a source code.

Can you fill in words below?

- When I pass __ as input, I want to get __ as output, but I got __.

[2021-12-12 05:59] rastaman111 commented on #45
I installed the player via Pod and changed your function to the one on the screen and it works as it should

![image](https://user-images.githubusercontent.com/15727518/145702124-36af4f65-160a-4f5b-9437-6862e1762aac.png)
![image](https://user-images.githubusercontent.com/15727518/145702153-7bb14db7-5a15-451f-a3c4-41c62db118c1.png)
![image](https://user-images.githubusercontent.com/15727518/1457021

[2021-12-14 00:16] yoheimuta commented on #40
It seems like there's no way to display all the features at once.
I plan to add a new parameter with which developers can turn on one of two features: moving track (current) or rewinding (new).

- [memo] Registering duplicate MPRemoteCommandCenter.shared().skipForwardCommand enables either one. Therefore, it's reasonable to accept a value of the second to skip to a specified position like 15 or 30

[2021-12-14 03:48] rastaman111 commented on #40
Hello.  Yes, you can only show one thing.  as an option, the user can save in UserDefaults what he needs and also save what interval to rewind.  something should be of this type: a variable that determines what to show and two variables responsible for fast forward and rewind

[2021-12-14 03:51] rastaman111 commented on #40
[44](https://github.com/yoheimuta/RxMusicPlayer/issues/44)

and also in the player itself, you need to add 2 functions so that the user can add rewind both before and back

[2021-12-15 00:30] #45 closed

[2021-12-19 09:28] #40 closed

[2021-12-19 09:28] #44 closed

[2021-12-19 13:04] rastaman111 opened #48 "FedeIn and FadeOut"
Hello.  there is a new idea for the player FadeIn and FadeOut, by default it does not fade out, but the user will call it there for example: fade out for the last 1.5 seconds

[2021-12-24 18:53] rastaman111 opened #49 "Error skip"
Hey!  I want to rewind the player 15 seconds forward and backward on the player screen, how can I do this?  when I take real seconds + 15 and do seek it works, but when the audio ends and should switch to the next track it gives an error

[2021-12-25 00:49] yoheimuta commented on #49
@rastaman111 You can use a skip command. `.skip(seconds: 15)` and `.skip(seconds: -15)`

- ref. https://github.com/yoheimuta/RxMusicPlayer/blob/9f6848c8bad5fde6475f3d3f2e9d44056612d4a0/ExampleSwiftUI/PlayerView.swift#L201

[2021-12-25 09:10] rastaman111 commented on #49
![image](https://user-images.githubusercontent.com/15727518/147381790-14bd6abc-db23-4483-a69b-2812505f0c93.jpeg)

I have such a function, and in the input data I enter .skip (15), and when switching to a new track, the application crashes

[2021-12-25 14:45] rastaman111 commented on #49
<img width="504" alt="Снимок экрана 2021-12-25 в 17 44 17" src="https://user-images.githubusercontent.com/15727518/147387504-cc8568ec-4c68-449a-a100-ee1247e59b31.png">

[2021-12-25 14:45] #49 closed

[2021-12-27 14:42] rastaman111 opened #50 "Error time"
![image](https://user-images.githubusercontent.com/15727518/147482033-c672241c-2f38-4d54-bc0e-927ce8dab595.jpeg)

Time is not displayed correctly.

[2021-12-28 06:41] #50 closed

[2021-12-28 07:00] rastaman111 commented on #50
Hey!  I zhmgooryoril that this solution is the most relevant :)

[2022-01-10 11:58] rastaman111 opened #52 "Bug: slider is not updated"
I noticed that when the audio comes to an end (for example: there are 15 seconds left) and at the same time open a new screen as a present, then the scale will stop at the same place and will not move, and also when moving to the next track, it will stand in the same position

[2022-01-10 11:59] rastaman111 commented on #52
It seems that tracking progress is being lost, this is a rare problem, but not a pleasant one.
If necessary, I can send a video.

[2022-01-15 10:18] rastaman111 opened #53 "Fatal Error in Firebase Crashlytics"
<img width="751" alt="Снимок экрана 2022-01-15 в 13 15 31" src="https://user-images.githubusercontent.com/15727518/149618256-380f0a88-6274-41ab-b6d6-74761927bcb2.png">
<img width="607" alt="Снимок экрана 2022-01-15 в 13 15 46" src="https://user-images.githubusercontent.com/15727518/149618258-b7f53897-e9e1-40e4-aec3-b5e8066a62c0.png">
<img width="592" alt="Снимок экрана 2022-01-15 в 13 16 03" src="

[2022-01-15 10:52] rastaman111 commented on #53
I once caught this bug, my actions: I have a table with local files and clicked on one of them and a bug occurred

[2022-01-19 11:07] rastaman111 commented on #52
![ezgif com-gif-maker](https://user-images.githubusercontent.com/15727518/150118366-ae5ac9d7-8369-4f04-8dfb-5d3baa81f60e.gif)

[2022-01-19 11:15] rastaman111 commented on #52
This happens when it throws an error
RxMusicPlayer.Status.failed invalidCommand(cmd: RxMusicPlayer.RxMusicPlayer.Command.seek(seconds: 0, shouldPlay: false))

[2022-02-24 05:26] rastaman111 commented on #52
hi, any idea how to solve this bug?

[2022-03-21 07:46] rastaman111 opened #54 "Update artwork"
Hello.  how can i update the player's artwork for example without stopping it and deleting and adding the same url?

[2022-04-15 12:33] Sk8er22 opened #56 "I'm emmiting .stop and keeps de reference in background"
Hello,

I have an issue. I have a screen where I instantiate a RxMusiclPlayer with the Item that I need.
It works perfectly.
But once I leave the viewscreen If I lock the screen keeps showing the panel to reproduce the audio although I have :
viewDidDisappear{
[code]
}

Also, I go to another screen that instantiates another RxMusicPlayer. it works perfect but if I lock the screen the player panel

[2022-04-19 11:10] rastaman111 opened #57 "Boost volume"
Hey!
I poked around in your code and implemented the Sound Boost function
Default value player.volume = 1, can be changed to 2

If interested, I can throw off the implementation so that you can release an update

[2022-04-27 05:17] ldthanh1993 opened #58 "Bug: player auto play next audio"
I have two screens A and B in a project.
A contains playerA and B contains playerB.
PlayerB plays the sound at index 5 and I stop it.
PlayerA plays the sound at index 1.
After the sound at index 1 end, Player A plays the sound at index 2 and playerB **automatically** next to 6.

I'm not certain that I'm using this library properly.
If it's a lib bug, please fix it.
If not, please show me how to fi

[2022-04-27 08:45] LinhNH2096 commented on #58
Hi @rastaman111

[2022-04-27 08:45] LinhNH2096 commented on #58
@rastaman111

[2022-04-27 08:51] LinhNH2096 commented on #58
Hi @rastaman111 ,
In my case I have two different playlists. And I want them to exist at the same time but it seems the library can't manage the states of the two lists separately.
Please tell me the best solution in this case. Tkanks!!!

[2022-04-27 08:55] rastaman111 commented on #58
@LinhNH2096

I do not understand a little why you need to work with two lists at once.  if you do it as an audio player, then there if the playlists and they do not depend on each other

[2022-04-27 09:15] ldthanh1993 commented on #58
@rastaman111
There are two tabs in my screen.
I don't want to play two lists at the same time.
But I want if I pause the audio at B it will keep the state and progress time.
It would be wrong for me to switch to another tab, play and next any sound in this tab

[2022-04-27 09:22] rastaman111 commented on #58
@LinhNH2096
I understand you, you need to implement 2 heavy players and when you turn on another, this one slows down

[2022-05-08 02:02] yoheimuta commented on #56
@Sk8er22 Thank you for reaching out.
I'm looking into this.

[2022-06-11 09:35] yoheimuta commented on #56
I could reproduce this problem.
I'll fix it by #59.

I couldn't reproduce this.

No. In theory and my digging locally, the lock screen doesn't have a reference to the RxMusicPlayer.

[2022-06-11 10:57] Sk8er22 commented on #56
Thank you very much! appreciate the library and your work :)

If after apply the fix keeps happening I will upload a video and give you more information, but with` fix: Clear the now playing info center dictionary #59` I believe it will get fixed

[2022-06-12 02:08] yoheimuta commented on #56
@Sk8er22 I think so! And uploading a video sounds helpful.

For now, I've cut a release here: https://github.com/yoheimuta/RxMusicPlayer/releases/tag/2.3.2

I'll publish it to cocoapod too shortly.

[2022-06-12 02:12] yoheimuta commented on #57
@rastaman111 Thank you for letting me know.
As far as I know, the volume's max value is 1.0.
Is it worth setting it to 2.0?

[2022-06-12 09:04] yoheimuta commented on #56
Updating the cocoapod spec is done.

[2022-06-12 17:00] rastaman111 commented on #57
Good afternoon @yoheimuta.  by default 1.0, but you can set any value, I put 2.0 on the switch and it works great :)

[2022-06-23 12:03] rastaman111 commented on #57
Hi, @yoheimuta

File RxMusicPlayer func playVolume

Used - self.musicPlayer.player?.playVolume = value ? 2.0 : 1.0

[RxMusicPlayer.zip](https://github.com/yoheimuta/RxMusicPlayer/files/8966958/RxMusicPlayer.zip)

[2022-06-25 03:15] yoheimuta commented on #57
@rastaman111 Thank you for elaborating on it.
Although I gave it a try setting the volume property to 1 and 2, I wasn't aware of the difference.

It looks like the document doesn't support the feature of boosting volume.
I'm closing this issue for now, but let me know when you have another solid ground for this.

[2022-06-25 03:15] #57 closed

[2022-06-25 03:23] yoheimuta commented on #53
@rastaman111 Thank you for reporting the crash.
However, I think this information only is insufficient to look into the cause because the source code location at RxMusicPlayer got lost. I don't have the faintest idea at the moment.

[2022-06-25 03:37] yoheimuta commented on #54
@rastaman111 I guess this way of updating is not supported.

[2022-06-25 03:41] yoheimuta commented on #52
@rastaman111 Thank you for reaching out.
I'm not sure if it's caused by the application UI's matter or RxMusicPlayer's something.

It's better to reproduce this issue based on our example project.

[2022-06-25 03:44] yoheimuta commented on #21
https://github.com/yoheimuta/RxMusicPlayer/issues/53 might be related.

[2022-06-25 05:29] rastaman111 commented on #57
@yoheimuta  I threw off the file where I implemented the sound boost, it is working, copy it as an independent library and check

[2022-06-25 05:30] rastaman111 commented on #54
@yoheimuta yes, I know that it is not supported now, but I think it is possible to implement it

[2022-06-25 09:46] yoheimuta commented on #21
@dinhthiet2702 Thank you for telling me.
I fixed the issue at [v2.3.3](https://github.com/yoheimuta/RxMusicPlayer/releases/tag/2.3.3).

[2022-06-25 09:51] yoheimuta commented on #53
@rastaman111 I fixed an obvious race condition issue at [v2.3.3](https://github.com/yoheimuta/RxMusicPlayer/releases/tag/2.3.3).
Can you use this version or later?

[2022-06-25 19:37] dinhthiet2702 opened #61 "Is it possible to initialize custom title, image, album,... in RxMusicPlayerItem?"
Some of my songs don't have image, title and album metadata, can I customize it? I mean will still initialize with the url, but may have other metadata, if not manually added will read the metadata of the song.

[2022-06-26 01:56] yoheimuta commented on #61
@dinhthiet2702 Yes. It's possible to initialize RxMusicPlayerItem with custom metadata.
See the below links for details.

- https://github.com/yoheimuta/RxMusicPlayer/pull/42/files#diff-bbc433fa04f4ca1c593396321c6772fe9c6ede6b597d3813a0f2ff6925f879e3R46
- https://github.com/yoheimuta/RxMusicPlayer/issues/39#issuecomment-937358196

[2022-07-13 15:35] dinhthiet2702 opened #62 "Audio duplication error"
I'm using your library but still there is a bug where when pressing next repeatedly or once, sometimes the same song plays 2 times in parallel.

[2022-07-13 15:47] dinhthiet2702 commented on #62
https://user-images.githubusercontent.com/58399579/178775937-ec7a1275-1549-4533-8b59-c6a366b92456.MP4

[2022-07-13 15:48] dinhthiet2702 commented on #62
var songs:[Song] = [] {
        didSet {
            if index >= songs.count{
                index = 0
            }
//            let metaData = RxMusicPlayerItem(url: <#T##URL#>, meta: RxMusicPlayerItem.Meta(duration: <#T##CMTime?#>, lyrics: <#T##String?#>, title: <#T##String?#>, album: <#T##String?#>, artist: <#T##String?#>, artwork: <#T##UIImage?#>, skipDownloading: <#T##Bool#>))

[2022-07-14 06:56] yoheimuta commented on #62
@dinhthiet2702 Thank you for reaching out.
Can you reproduce it when you use our example projects hosted under this repository?

Because I couldn't encounter the issues while playing example projects.
And see also https://github.com/yoheimuta/RxMusicPlayer#bug-report.

[2022-07-14 06:57] #21 closed

[2022-07-14 06:58] yoheimuta commented on #53
When you observe it after v2.3.3, please reopen this issue.

[2022-07-14 06:58] #53 closed

[2022-07-14 06:59] #58 closed

[2022-07-14 06:59] #56 closed

[2022-07-14 16:56] dinhthiet2702 commented on #62
I fixed it, does the current library support playing songs at specified index?
ex: click cell tableview -> Play music at indexPath.row

[2022-07-14 17:00] rastaman111 commented on #62
Yes

[2022-07-14 18:00] dinhthiet2702 commented on #62
Can you show me that function?

[2022-07-14 18:02] rastaman111 commented on #62
player?.playIndex = playIndex

[2022-07-14 18:27] dinhthiet2702 commented on #62
thanks sir hehehe

[2022-07-14 18:29] rastaman111 commented on #62
👌🏼👍🏼😃

[2022-08-16 19:38] rastaman111 opened #64 "karaoke function"
Hey!  Do you know how to implement the karaoke function?

An example like Apple Music, when the text moves along with the audio

[2022-09-16 17:53] dinhthiet2702 opened #65 "CPU goes high and device gets hot after 2-3 minutes"
Hi, cpu status is high and device gets hotter after 2-3 minutes, is there any way to reduce CPU when listening,

I found there is a library that uses only 1-2% cpu, can you combine to include your perfect library?
https://github.com/tanhakabir/SwiftAudioPlayer

Thanks for the reply
<img width="364" alt="Screen Shot 2022-09-17 at 12 49 04 am" src="https://user-images.githubusercontent.com/58399579/

[2022-09-16 17:56] rastaman111 commented on #65
Hi.  how do you use this library?  I've been using it for 3 years and have no such problems.  maybe you're picking something up?

[2022-09-16 19:08] dinhthiet2702 commented on #65
hi, is your device hot?  I use it as instructed in the example.  on a real device when I exit to the background and listen for about 2-3 minutes.  app will be terminal and my device shows signs of temperature rise

[2022-09-17 04:06] rastaman111 commented on #65
very strange, maybe it is related to ios 16?
@yoheimuta Help

[2022-09-17 04:38] dinhthiet2702 commented on #65
yes, i just upgraded ios 16 yesterday 😬😬😬.  have you been up yet?

[2022-09-17 06:48] yoheimuta commented on #65
Thank you for letting me know.
I don't know if it's related to this library in general.

I haven't upgraded ios 16.
I'll take a look, but it takes time to set up ios 16.

[2022-09-19 07:43] rastaman111 commented on #65
Are you testing on a simulator or on a device?  if on the simulator run multiple variants of iOS

[2022-09-19 10:15] dinhthiet2702 commented on #65
the above image is me running on emulator, but on real device i tested on ios 16. Previously my colleague also talked about this problem on ios 15

[2022-09-23 10:10] yoheimuta commented on #65
I've just upgraded ios 16 and run tracks repeatedly for several minutes.
I couldn't reproduce your issue. The debug navigator shows no sign of any resource spike.

My setting:

- Device (iOS16/iPhone 12 Pro)
- App ([Example](https://github.com/yoheimuta/RxMusicPlayer/tree/master/Example) and [ExampleSwiftUI](https://github.com/yoheimuta/RxMusicPlayer/tree/master/ExampleSwiftUI))
- Xcode Version 14

[2022-10-18 20:39] rastaman111 opened #66 "Wrong time display"
Hey, I noticed that the current time is out of sync with the remaining time

https://user-images.githubusercontent.com/15727518/196539531-3bb45622-a191-499b-94e0-6161be45d8ba.MOV

[2022-11-04 18:28] rastaman111 commented on #66
@yoheimuta Hey!  Any thoughts on how to synchronize the timers?